<div class="start-box">
  <div class="start-button">
    <h1>Battle of Memes</h1>
    <h1>Let the Battle Begin</h1>
  <button  routerLink="/main">Start</button>
  </div>
</div>
<section class="main_menu">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Main Menu

    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item">Battle</a>
      <a class="dropdown-item" routerLink='/battlepvp' >Battle PvP</a>
      <a class="dropdown-item">Create Account</a>
      <a class="dropdown-item">About us</a>
    </div>
  </div>
</section>
